@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">----XXX----</h1>
    <h2 class="display-4">ಠ_ಠ</h2>
    <h3 class="display-4">----XXX----</h3>
    <h4 class="display-4">(⊙_⊙;)</h4>
    <h5 class="display-4">----XXX----</h5>
    <h6 class="display-4">ಥ_ಥ</h6>
    <h7 class="display-4">----XXX----</h7>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
